/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-rlwy6lmzfc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-rlwy6lmzfc] {
    flex: 1;
}

.sidebar[b-rlwy6lmzfc] {
    background-image: linear-gradient(180deg, rgb(107, 195, 67) 0%, #2D8A29 70%);
}

.top-row[b-rlwy6lmzfc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-rlwy6lmzfc]  a, .top-row .btn-link[b-rlwy6lmzfc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-rlwy6lmzfc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-rlwy6lmzfc] {
        display: none;
    }

    .top-row.auth[b-rlwy6lmzfc] {
        justify-content: space-between;
    }

    .top-row a[b-rlwy6lmzfc], .top-row .btn-link[b-rlwy6lmzfc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-rlwy6lmzfc] {
        flex-direction: row;
    }

    .sidebar[b-rlwy6lmzfc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-rlwy6lmzfc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-rlwy6lmzfc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-bck3t4qk15] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-bck3t4qk15] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-bck3t4qk15] {
    font-size: 1.1rem;
}

.oi[b-bck3t4qk15] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-bck3t4qk15] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;

}

i[b-bck3t4qk15]{
    font-size:22px;
}

.nav-link-text[b-bck3t4qk15]{
    padding-left:15px;
}

.nav-item:first-of-type[b-bck3t4qk15] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-bck3t4qk15] {
    padding-bottom: 1rem;
}

.nav-item[b-bck3t4qk15]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-bck3t4qk15]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-bck3t4qk15]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-bck3t4qk15] {
        display: none;
    }

    .collapse[b-bck3t4qk15] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
