.site-footer[b-2cimg2gi6t] {
    background-color: #329648 !important;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: lightgray;
}

    .site-footer hr[b-2cimg2gi6t] {
        border-top-color: #bbb;
        opacity: 0.5
    }

    .site-footer hr.small[b-2cimg2gi6t] {
        margin: 20px 0
    }

    .site-footer h6[b-2cimg2gi6t] {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a[b-2cimg2gi6t] {
        color: #737373;
    }

    .site-footer a:hover[b-2cimg2gi6t] {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links[b-2cimg2gi6t] {
        padding-left: 0;
        list-style: none
    }

    .footer-links li[b-2cimg2gi6t] {
        display: block
    }

    .footer-links a[b-2cimg2gi6t] {
        color: white;
    }

    .footer-links a:active[b-2cimg2gi6t], .footer-links a:focus[b-2cimg2gi6t], .footer-links a:hover[b-2cimg2gi6t] {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links.inline li[b-2cimg2gi6t] {
        display: inline-block
    }

    .site-footer .social-icons[b-2cimg2gi6t] {
        text-align: right
    }

    .site-footer .social-icons a[b-2cimg2gi6t] {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #080707;
    }

    .copyright-text[b-2cimg2gi6t] {
        margin: 0
    }

    @media (max-width:991px) {
        .site-footer [class^=col-][b-2cimg2gi6t] {
            margin-bottom: 30px
        }
    }

    @media (max-width:767px) {
        .site-footer[b-2cimg2gi6t] {
            padding-bottom: 0
        }

        .site-footer .copyright-text[b-2cimg2gi6t], .site-footer .social-icons[b-2cimg2gi6t] {
            text-align: center
        }
    }

    .social-icons[b-2cimg2gi6t] {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }

    .social-icons li[b-2cimg2gi6t] {
        display: inline-block;
        margin-bottom: 4px
    }

    .social-icons li.title[b-2cimg2gi6t] {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }

    .social-icons a[b-2cimg2gi6t] {
        background-color: #1D7446 !important;
        color: white !important;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-icons a:active[b-2cimg2gi6t], .social-icons a:focus[b-2cimg2gi6t], .social-icons a:hover[b-2cimg2gi6t] {
        color: #fff;
        background-color: #333231;
        transform:translate(1.1);
    }

    .social-icons.size-sm a[b-2cimg2gi6t] {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover[b-2cimg2gi6t] {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover[b-2cimg2gi6t] {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover[b-2cimg2gi6t] {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover[b-2cimg2gi6t] {
        background-color: #ea4c89
    }

@media (max-width:767px) {
    .social-icons li.title[b-2cimg2gi6t] {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
