a.navbar-brand[b-vzub9hluui] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white !important;
}

.custom-nav[b-vzub9hluui] {
    background: #329648 !important;
}

.nav-link i[b-vzub9hluui]{
    color: lightgray !important;
}