<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Lemonade Stand AB</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class='fab fa-houzz' style='font-size:22px;'></i><span class="nav-link-text">Hemsida</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="glass" @onclick:preventDefault style='opacity:0.75;'>
                <i class='fas fa-ice-cream' style='font-size:22px;'></i><span class="nav-link-text">Glass</span><i class='fas fa-lock' style='font-size:14px; margin-left:10px;'></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="coktail" @onclick:preventDefault style='opacity:0.75;'>
                <i class="fas fa-cocktail" style='font-size:22px;'></i><span class="nav-link-text">Cocktail</span><i class='fas fa-lock' style='font-size:14px; margin-left:10px;'></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="juice" @onclick:preventDefault style='opacity:0.75;'>
                <i class='fas fa-blender' style='font-size:22px;'></i><span class="nav-link-text">Juice</span><i class='fas fa-lock' style='font-size:14px; margin-left:10px;'></i>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="recipes">
                <i class='fas fa-receipt' style='font-size:22px;'></i><span class="nav-link-text">Recepthantering</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="kundorder">
                <i class='fas fa-cash-register' style='font-size:22px;'></i><span class="nav-link-text">Kundorder</span>
            </NavLink>
        </li>
    </ul>

</div>
<div class="provider-branding">
    <span style="font-size:12px;">POWERED BY</span>
    <img src="/img/brand/provider/iosoft-logo.png" class="provider-logo" />
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
