@inherits LayoutComponentBase
<header>
    <NavMenu></NavMenu>
    <div class="header-cover"></div>
</header>
<div class="page">
    <main class="main">
        <div class="content px-5">
            @Body
        </div>
    </main>
</div>

<Footer></Footer>

