@import '';

/* /View/Shared/Components/Footer.razor.rz.scp.css */
    .site-footer hr[b-ca3ra5nyx1] {
        border-top-color: #bbb;
        opacity: 0.5
    }

    .site-footer hr.small[b-ca3ra5nyx1] {
        margin: 20px 0
    }

    .site-footer h6[b-ca3ra5nyx1] {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a[b-ca3ra5nyx1] {
        color: #737373;
    }

    .site-footer a:hover[b-ca3ra5nyx1] {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links[b-ca3ra5nyx1] {
        padding-left: 0;
        list-style: none
    }

    .footer-links li[b-ca3ra5nyx1] {
        display: block
    }

    .footer-links a[b-ca3ra5nyx1] {
        color: white;
    }

    .footer-links a:active[b-ca3ra5nyx1], .footer-links a:focus[b-ca3ra5nyx1], .footer-links a:hover[b-ca3ra5nyx1] {
        color: #3366cc;
        text-decoration: none;
    }

    .footer-links.inline li[b-ca3ra5nyx1] {
        display: inline-block
    }

    .site-footer .social-icons[b-ca3ra5nyx1] {
        text-align: right
    }

    .site-footer .social-icons a[b-ca3ra5nyx1] {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #080707;
    }

    .copyright-text[b-ca3ra5nyx1] {
        margin: 0
    }

    @media (max-width:991px) {
        .site-footer [class^=col-][b-ca3ra5nyx1] {
            margin-bottom: 30px
        }
    }

    @media (max-width:767px) {
        .site-footer[b-ca3ra5nyx1] {
            padding-bottom: 0
        }

        .site-footer .copyright-text[b-ca3ra5nyx1], .site-footer .social-icons[b-ca3ra5nyx1] {
            text-align: center
        }
    }

    .social-icons[b-ca3ra5nyx1] {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none
    }

    .social-icons li[b-ca3ra5nyx1] {
        display: inline-block;
        margin-bottom: 4px
    }

    .social-icons li.title[b-ca3ra5nyx1] {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }

    .social-icons a[b-ca3ra5nyx1] {
        background-color: #1D7446 !important;
        color: white !important;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

    .social-icons a:active[b-ca3ra5nyx1], .social-icons a:focus[b-ca3ra5nyx1], .social-icons a:hover[b-ca3ra5nyx1] {
        color: #fff;
        background-color: #333231;
        transform:translate(1.1);
    }

    .social-icons.size-sm a[b-ca3ra5nyx1] {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

@media (max-width:767px) {
    .social-icons li.title[b-ca3ra5nyx1] {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
/* /View/Shared/Components/Header.razor.rz.scp.css */
.page-header[b-x4rxrxft25] {
    padding-top: 60px;
}

.header-cover[b-x4rxrxft25] {
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/appcover.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    padding-top: 60px;
}


/* /View/Shared/Components/NavMenu.razor.rz.scp.css */
.navbar[b-hhjuav3za9] {
    position: fixed !important;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    border-bottom:1px solid lightgray;
}

    .navbar .navbar-brand[b-hhjuav3za9] {

    }

    .navbar-toggler .navbar-toggler-right[b-hhjuav3za9] {

    }

    .navbar-toggler-icon[b-hhjuav3za9] {
 
    }

    .navbar-collapse .collapse[b-hhjuav3za9] {

    }

    .navbar-collapse .show[b-hhjuav3za9] {

    }



    .nav-link[b-hhjuav3za9] {
        margin-left: 10px;
    }

    .nav-link .active[b-hhjuav3za9] {
        opacity: 0.9;
        color: #329648 !important;
        font-weight: bold;
    }

    .nav-link i[b-hhjuav3za9] {
        margin-left: 10px;
    }

    .nav-item .dropdown[b-hhjuav3za9] {

    }

    .dropdown .show[b-hhjuav3za9] {

    }

    .dropdown-menu[b-hhjuav3za9] {
        background: #379847;
    }

    .dropdown-nav-link[b-hhjuav3za9] {
        color: white !important;
        padding-left:10px;
    }

    .dropdown-menu a i[b-hhjuav3za9] {
        color: white !important;
        margin-left: 10px !important;
    }

@media (max-width: 992px) {
    .navbar-collapse[b-hhjuav3za9] {
        padding: 20px;
    }
    .nav-item li a[b-hhjuav3za9] {
        font-size: 24px !important;
    }
}

.navbar-toggler[b-hhjuav3za9] {
    height:50px;
    width:50px;
    border-radius:50px;
    border:2px solid lightgrey;
}
.navbar-toggler:focus[b-hhjuav3za9] {
    outline: none !important;
    box-shadow: none !important;
}

/**
 * Remove focus styles for non-keyboard focus.
 */
:focus:not(:focus-visible)[b-hhjuav3za9] {
    outline: 0 !important;
    box-shadow: none!important;
}

/**
 * Cross-browser styles for explicit focus via 
 * keyboard-based (eg Tab) navigation or the
 * .focus-visible utility class.
 */
:focus[b-hhjuav3za9],
.navbar-toggler:focus:not(:focus-visible)[b-hhjuav3za9] {
    outline: 0;
    box-shadow: 0 0 0 .2rem #fff, 0 0 0 .35rem #069;
}

.navbar-toggler span[b-hhjuav3za9] {
    display: block;
    background-color: #81C73F;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1)[b-hhjuav3za9] {
    margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1)[b-hhjuav3za9] {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2)[b-hhjuav3za9] {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3)[b-hhjuav3za9] {
    transform: translate(15%, 33%) rotate(-45deg);
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1)[b-hhjuav3za9] {
    transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2)[b-hhjuav3za9] {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3)[b-hhjuav3za9] {
    transform: translate(0%, 0%) rotate(0deg);
}
/* /View/Shared/Layout.razor.rz.scp.css */
#page-container[b-onq1zezv3n] {
    position: relative;
    min-height: 100vh;
}

#content-wrap[b-onq1zezv3n] {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer[b-onq1zezv3n] {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}
