@import '';

/* /Pages/Index.razor.rz.scp.css */
.card[b-8weqfyq497] {
    background: whitesmoke;
    color: black;
    margin-bottom: 2rem;
    border: 1px solid lightgray;
}

.btn[b-8weqfyq497] {
    color: white;
    text-decoration: none;
    transition: all .4s ease;
}

    .btn:hover[b-8weqfyq497], .btn:focus[b-8weqfyq497] {
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
    }

.production-result[b-8weqfyq497]{
    height:60px;
    line-height:60px;
    width:100%;
    padding:5px;
    padding-left:20px;
    background: lightgray;
    border-radius:10px;
    margin-bottom:10px;
    margin-top:10px;
    color: gray;
}

input[b-8weqfyq497]{
    background:aliceblue;
}

.form-validation[b-8weqfyq497] {
    padding: 20px 50px;
    background: #999999;
    margin-bottom: 30px;
}

.validation-message[b-8weqfyq497] {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid ~ .validation-message[b-8weqfyq497] {
    display: block;
}

.form-container[b-8weqfyq497] {
    background: white;
    color: black;
    padding: 10px;
    margin-bottom: 30px;
}

.form-control.invalid[b-8weqfyq497] {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

    .form-control.invalid:focus[b-8weqfyq497] {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

textarea.form-control.invalid[b-8weqfyq497] {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.form-check-input.invalid ~ .form-check-label[b-8weqfyq497] {
    color: #dc3545;
}

.form-check-input.invalid ~ .validation-message[b-8weqfyq497] {
    display: block;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-73g1reloby] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-73g1reloby] {
    flex: 1;
}

.sidebar[b-73g1reloby] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-73g1reloby] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-73g1reloby]  a, .top-row .btn-link[b-73g1reloby] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-73g1reloby] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-73g1reloby] {
        display: none;
    }

    .top-row.auth[b-73g1reloby] {
        justify-content: space-between;
    }

    .top-row a[b-73g1reloby], .top-row .btn-link[b-73g1reloby] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-73g1reloby] {
        flex-direction: row;
    }

    .sidebar[b-73g1reloby] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-73g1reloby] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-73g1reloby] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
