@using Domain.Entities.Recipes.Coffee;
@using Domain.Services;
@inject IRecipeService recipeService;

<h3>Coffees Availible</h3>

<div class="d-flex justify-content-start" style="margin-top:30px;">
    <div class="row">
        @if (coffees == null)
        {
            <p><em>There is no availible recipes!</em></p>
        }
        else
        {
            @foreach (var coffee in coffees)
            {
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="@coffee.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@coffee.Name</h5>
                            <hr />
                            <h6 class="card-subtitle mb-2">Price per glass:</h6>
                            <p>@coffee.PricePerGlass SEK</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {

    private IEnumerable<CofeeRecipe> coffees;

    protected override async Task OnInitializedAsync()
    {
        coffees = await recipeService.GetAllCoffeesAsync();
    }

}
