.card {
    background: whitesmoke;
    color: black;
    margin-bottom: 2rem;
    border: 1px solid lightgray;
}

.btn {
    color: white;
    text-decoration: none;
    transition: all .4s ease;
}

    .btn:hover, .btn:focus {
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
    }

.form-validation {
    padding: 20px 50px;
    background: #999999;
    margin-bottom: 30px;
}

.validation-message {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid ~ .validation-message {
    display: block;
}

.form-control.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

    .form-control.invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

textarea.form-control.invalid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.form-check-input.invalid ~ .form-check-label {
    color: #dc3545;
}

.form-check-input.invalid ~ .validation-message {
    display: block;
}
