@page "/recipes"

<h3>Tillgängliga recept</h3>

<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/img/recipes/Apple-Juice.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Apple Lemonade</h5>
                    <hr />
                    <h6 class="card-subtitle mb-2">Pris per glas:</h6>
                    <p>10 SEK</p>
                    <h6 class="card-text">Frukt som behövs per glas:</h6>
                    <p>2.5 Apple (s)</p>
                    <a href="#" class="btn mr-2 bg-warning"><i class="fas fa-edit"></i> Redigera</a>
                    <a href="#" class="btn bg-danger"><i class="fa fa-minus-circle"></i> Radera</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/img/recipes/Melon-Juice.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Melon Lemonade</h5>
                    <hr />
                    <h6 class="card-subtitle mb-2">Pris per glas:</h6>
                    <p>12 SEK</p>
                    <h6 class="card-text">Frukt som behövs per glas:</h6>
                    <p>0.5 Melon (s)</p>
                    <a href="#" class="btn mr-2 bg-warning"><i class="fas fa-edit"></i> Redigera</a>
                    <a href="#" class="btn bg-danger"><i class="fa fa-minus-circle"></i> Radera</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="/img/recipes/Orange-Juice.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orange Lemonade</h5>
                    <hr />
                    <h6 class="card-subtitle mb-2">Pris per glas:</h6>
                    <p>9 SEK</p>
                    <h6 class="card-text">Frukt som behövs per glas:</h6>
                    <p>1 Orange (s)</p>
                    <a href="#" class="btn mr-2 bg-warning"><i class="fas fa-edit"></i> Redigera</a>
                    <a href="#" class="btn bg-danger"><i class="fa fa-minus-circle"></i> Radera</a>
                </div>
            </div>
        </div>
    </div>
</div>